<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>German Club Website</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;Raleway:300,400,500,600,700,800,900" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- owl-carousel -->
        <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.css" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.css" />
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.css" />
        <!-- media element player -->
        <link href="/css/mediaelementplayer.min.css" rel="stylesheet" type="text/css" />
        <!-- Animate -->
        <link rel="stylesheet" href="/css/animate.css" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="/css/ionicons.min.css">
        <!-- variable -->
        <link rel="stylesheet" href="/css/variables.css">
        <!-- Style -->
        <link rel="stylesheet" href="/css/style.css">
         <!-- color -->
         <link rel="stylesheet" href="/css/color.css">
        <!-- Responsive -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- custom style -->
        <link rel="stylesheet" href="/css/custom.css" />
    
      </head>
    <body data-spy="scroll" data-offset="80">
        <!-- loading -->
        <div id="loading">
            <div id="loading-center">
                <div class="loader">
                    <div class="cube">
                        <div class="sides">
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                            <div class="left"></div>
                            <div class="front"></div>
                            <div class="back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- loading End -->
        <!-- Header -->
        <header id="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html">
                                <img class="img-fluid" src="/logo.png" alt="#">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="ion-navicon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link active" href="#iq-home">Home</a>
                                        <div aria-labelledby="navbarDropdown0" class="dropdown-menu">
                                            
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#benefits-you-will-get">Benefits</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Key-features">Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#gallery">Gallery</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="#team">Team</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="#contact">Contact</a>
                                    </li>
                                </ul>
                                
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
        <!-- Banner -->
        <!-- Home starts from here -->
        <section id="iq-home" class="iq-banner overview-block-pt iq-bg-over iq-over-blue-90 iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(/bg/01.jpg);">
            <div class="container-fluid">
                <div class="banner-text">
                    <div class="row justify-content-between">
                        <div class="col-lg-6 align-self-center">
                            <h1 class="text-uppercase iq-font-white iq-tw-3">We are building <b class="iq-tw-7">Your Career</b> For You</h1>
                            <p class="iq-font-white iq-pt-15 iq-mb-40">Welcome to the official website of the German club! Here you will find all information about our activities and events.</p>
                            <div class="waves-box">
                                <a href="https://www.youtube.com/watch?v=8He2x-kDRkQ" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                                <div class="iq-waves">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <img class="banner-img" src="/banner/home.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-objects">
                <span class="banner-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-50px);">
                    <img src="/drive/03.png" alt="drive02">
                </span>
                <span class="banner-objects-02 iq-fadebounce">
                    <span class="iq-round"></span>
                </span>
                <span class="banner-objects-03 iq-fadebounce">
                    <span class="iq-round"></span>
                </span>
            </div>
        </section>
        <!-- Home starts ends here -->
        <!-- Banner End -->


        <!-- Main Content -->
        <div class="main-content">
            <!-- Benefits You Will Get -->
            <section id="benefits-you-will-get" class="overview-block-ptb it-works">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title">
                                <h3 class="title iq-tw-7">Benefits You Will Get</h3>
                                <p> We are a community of people who are passionate about the German language and culture. Our club offers numerous opportunities to meet like minded individuals, make new friendships, and engage in various cultural activities.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="iq-works-box text-left">
                                <div class="step">1</div>
                                <div class="icon-bg text-center">
                                    <img src="/services/icon1.png" class="img-fluid" alt="#">
                                </div>
                                <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Better job opportunities</h5>
                                <p>Germany is a hub for innovation and technology, and many global companies are based there. Knowing German can give you an edge when applying for jobs in these companies, increasing your chances of success. </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 r-mt-30">
                            <div class="iq-works-box text-left">
                                <div class="step">2</div>
                                <div class="icon-bg text-center">
                                    <img src="/services/icon2.png" class="img-fluid" alt="#">
                                </div>
                                <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">travel experiences</h5>
                                <p>German is spoken in many countries, including Germany, Austria, and Switzerland. Being able to speak German can make your travels more enjoyable and allow you to connect more with locals.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 r-mt-30">
                            <div class="iq-works-box text-left">
                                <div class="step">3</div>
                                <div class="icon-bg text-center">
                                <img src="/services/icon3.png" class="img-fluid" alt="#"></div>
                                <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Personal growth</h5>
                                <p>Learning German is a challenging yet life-changing experience that enhances communication skills, cultural awareness, and opens up new opportunities for travel, work, and education.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Benefits You Will Get END -->




            <!-- Why to choose german ? -->
            <section id="how-works" class="overview-block-ptb how-works">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="iq-tw-6 iq-mb-25">Why Choose German ?</h2>
                            <p class="iq-font-15">Germany is the largest economy in Europe and a global leader in technology, engineering, and innovation. Knowing German can open up job opportunities in German companies or other international organizations.</p>
                            <p>Germany is home to some of the world's top universities, offering high-quality education in various fields. Knowing German can enable you to pursue academic programs and scholarships in Germany.</p>
                            <p class="iq-font-15 iq-mt-20"> German culture is rich in history, art, literature, music, and traditions. Learning German can help you appreciate and understand these cultural aspects on a deeper level. It is a beautiful country, and knowing German can enhance your travel experience. </p>
                            <h6 class="iq-tw-6 iq-mt-25">Click for More Info</h6>
                            <a href="https://www.bu.edu/wll/home/why-study-german/" class="button iq-mt-10">Click Here</a>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <img class="iq-works-img" src="/drive/whygerman.jpg" alt="drive01">
                        </div>
                    </div>
                </div>
                <div class="iq-objects">
                    <span class="iq-objects-01">
                        <img src="/drive/02.png" alt="drive02">
                    </span>
                    <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <img src="/drive/03.png" alt="drive02">
                    </span>
                    <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <img src="/drive/04.png" alt="drive02">
                    </span>
                    <span class="iq-objects-04 iq-fadebounce">
                        <span class="iq-round"></span>
                    </span>
                </div>
            </section>
            <!-- Why to choose german ? END -->


            <!-- key  Features -->
            <section id="Key-features" class="overview-block-ptb iq-mt-50 software">
                <div class="iq-software-demo">
                    <img class="img-fluid" src="/drive/keyfeatures.png" alt="drive05">
                </div>
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-6">
                            <h2 class="iq-tw-6 iq-mb-25">Our Key Features</h2>
                            <!-- <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
                            <ul class="iq-mt-40 iq-list">
                                <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Fully Air Conditioned Lab.</span></li>
                                <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Only one day Lecs per week.</span></li>
                                <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Weekly Tests as well as Regular academic exams.</span></li>
                                <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Teaching at a personal level.</span></li>
                                <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Language Understanding techniques</span></li>
                                <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black">Personal Counselling</span></li>
                            </ul>
                            
                        </div>
                    </div>
                   
                </div>
                <div class="iq-objects-software">
                    <span class="iq-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <img src="/drive/03.png" alt="drive02">
                    </span>
                    <span class="iq-objects-02" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <img src="/drive/04.png" alt="drive02">
                    </span>
                    <span class="iq-objects-03 iq-fadebounce">
                        <span class="iq-round"></span>
                    </span>
                </div>
            </section>
            <!-- key Features END -->


            <!-- gallery -->
            <section id="gallery" class="overview-block-ptb iq-bg-over  iq-over-blue-80 iq-screenshots iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(/bg/07.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title white">
                                <h3 class="title iq-tw-7">Our Gallery</h3>
                                <p class="iq-font-white">Our enthusiastic Students who learns, add their ideas blah blah blahh!!!!!!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <div class="screenshots-slider popup-gallery">
                                <div class="slider-container">
                                    <div class="slider-content">
                                        <div class="slider-single">
                                            <a href="/screenshot/class1.jpg" class="popup-img"><img class="slider-single-image" src="/screenshot/class1.jpg" alt="1" /></a>
                                        </div>
                                        <div class="slider-single">
                                            <a href="/screenshot/class2.jpg" class="popup-img"><img class="slider-single-image" src="/screenshot/class2.jpg" alt="2" /></a>
                                        </div>
                                        <div class="slider-single">
                                            <a href="/screenshot/class3.jpg" class="popup-img"><img class="slider-single-image" src="/screenshot/class3.jpg" alt="3" /></a>
                                        </div>
                                        <div class="slider-single">
                                            <a href="/screenshot/class4.jpg" class="popup-img"><img class="slider-single-image" src="/screenshot/class4.jpg" alt="4" /></a>
                                        </div>
                                        <div class="slider-single">
                                            <a href="/screenshot/class5.jpg" class="popup-img"><img class="slider-single-image" src="/screenshot/class5.jpg" alt="5" /></a>
                                        </div>
                                    </div>
                                    <a class="slider-left" href="javascript:void(0);"><i class="fa fa-angle-left"></i></a>
                                    <a class="slider-right" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- gallery END -->
            <!-- Our Courses  -->
            <section class="overview-block-ptb grey-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title">
                                <h3 class="title iq-tw-7">Courses We Offer  </h3>
                                <p> Learning a new language can be challenging, and it's important to be persistent and dedicated to the process. Consistent practice, patience and study will help you make progress.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 col-md-6">
                            <div class="iq-fancy-box text-center">
                                <div class="iq-icon">
                                    <i aria-hidden="true" class="ion-ios-monitor-outline"></i>
                                </div>
                                <div class="fancy-content">
                                    <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Language Fluency</h5>
                                    <p>Students will learn how to speak fluently with some beginners tips and tricks.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-6 r4-mt-30">
                            <div class="iq-fancy-box text-center">
                                <div class="iq-icon">
                                    <i aria-hidden="true" class="ion-ios-settings"></i>
                                </div>
                                <div class="fancy-content">
                                    <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Sentence Formation</h5>
                                    <p>The main subject of learning German is Sentence Formation, We will provide a full Course on it.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                            <div class="iq-fancy-box text-center">
                                <div class="iq-icon">
                                    <i aria-hidden="true" class="ion-social-googleplus-outline"></i>
                                </div>
                                <div class="fancy-content">
                                    <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Communication Skills</h5>
                                    <p>We will offer a bunch of ideas and techniques to communicate in a local German Language.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                            <div class="iq-fancy-box text-center">
                                <div class="iq-icon">
                                    <i aria-hidden="true" class="ion-ios-heart-outline"></i>
                                </div>
                                <div class="fancy-content">
                                    <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Speech Writing</h5>
                                    <p>This will Help students in formal Speaking techniques and enhances their ability. </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Our Courses  END -->
            <!-- Club Data -->
            <div class="iq-pt-80 iq-counter-box iq-bg-over iq-over-blue-90 iq-font-white iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(/bg/02.jpg);" >
                
                <div class="container">
                    
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 text-left">
                            <div class="counter"> <i class="ion-ios-folder-outline " aria-hidden="true"></i>
                                <div class="counter-date">
                                    <label class="iq-font-white text-uppercase">Completed</label>
                                    <span class="timer iq-tw-7" data-to="140" data-speed="4000">140</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-left r4-mt-30">
                            <div class="counter"> <i class="ion-ios-paper-outline " aria-hidden="true"></i>
                                <div class="counter-date">
                                    <label class="iq-font-white text-uppercase">Active</label>
                                    <span class="timer iq-tw-7" data-to="214" data-speed="4000">214</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-left r-mt-30">
                            <div class="counter"> <i class="ion-ios-person-outline " aria-hidden="true"></i>
                                <div class="counter-date">
                                    <label class="iq-font-white text-uppercase">Placed</label>
                                    <span class="timer iq-tw-7" data-to="68" data-speed="4000">120</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 text-left r-mt-30">
                            <div class="counter"> <i class="ion-ios-star " aria-hidden="true"></i>
                                <div class="counter-date">
                                    <label class="iq-font-white text-uppercase">Colleges</label>
                                    <span class="timer iq-tw-7" data-to="28" data-speed="4000">28</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="counter-info iq-mt-60 iq-pt-40">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>The above data are calculated on based of the academic year 2021-2022 wherein 214 students got enrolled in the course among which, 140 students completed their course.</p>
                                <p class="iq-mt-30">We have around 120 students who got admission in the top 68 colleges in Germany. </p>
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="counter-info-img">
                                    <img class="center-block" src="/drive/07.png" alt="#">
                                    <div class="waves-box">
                                        <a href="https://www.youtube.com/watch?v=vai8_XLF-ZM" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                                        <div class="iq-waves">
                                            <div class="waves wave-1"></div>
                                            <div class="waves wave-2"></div>
                                            <div class="waves wave-3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Club Data END -->
            <!-- Students Review -->
            <section class="overview-block-ptb white-bg iq-loved-customers">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title iq-mt-50">
                                <h3 class="title iq-tw-7">Students Reviews</h3>
                                <p>Students gives their personal feedbacks according to their experiences</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30" >
                                <div class="item">
                                    <div class="iq-client white-bg">
                                        <div class="client-img">
                                            <img alt="#" class="img-fluid rounded-circle" src="/testimonial/01.jpg">
                                        </div>
                                        <div class="client-info">
                                            <div class="client-name iq-mb-10">
                                                <h5 class="iq-tw-6">Jason Adams</h5>
                                                <span class="sub-title iq-tw-6">CEO, Astarr</span>
                                            </div>
                                            <p>Learning German has been a great experience for me. At first, I found the grammar and sentence structure quite challenging, but my teacher was patient and provided helpful explanations. Now, I feel more confident speaking and writing in German and I look forward to continuing my studies.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client white-bg">
                                        <div class="client-img">
                                            <img alt="#" class="img-fluid rounded-circle" src="/testimonial/02.jpg">
                                        </div>
                                        <div class="client-info">
                                            <div class="client-name iq-mb-10">
                                                <h5 class="iq-tw-6">Jenny Adams</h5>
                                                <span class="sub-title iq-tw-6">Tutor, AIMS</span>
                                            </div>
                                            <p>I have always been interested in German culture and language, so I decided to take a German course in college. I was pleasantly surprised by how fun and engaging the classes were. The teacher incorporated games, songs, and conversation activities that made learning German a lot of fun.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="iq-client white-bg">
                                        <div class="client-img">
                                            <img alt="#" class="img-fluid rounded-circle" src="/testimonial/03.jpg">
                                        </div>
                                        <div class="client-info">
                                            <div class="client-name iq-mb-10">
                                                <h5 class="iq-tw-6">John Deo</h5>
                                                <span class="sub-title iq-tw-6">Entrepreneur</span>
                                            </div>
                                            <p>Studying German has been a bit of a struggle for me because it is so different from my native language. However, I have found that consistent practice and dedication have paid off. I feel proud when I am able to have conversations in German, and I am excited to continue learning and improving my skills.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Students Review ends -->



            <!-- faculty team starts -->
            <section id="team" class="overview-block-ptb white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title">
                                <h3 class="title iq-tw-7">Our Faculty Team</h3>
                                <p>Our Faculties is well qualified and cleared more thean 4 levels and secured a good rank.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 col-md-6">
                            <div class="iq-team grey-bg">
                                <div class="iq-team-img">
                                    <img src="/team/small/011.jpg" class="img-fluid center-block" alt="#">
                                </div>
                                <div class="iq-team-info text-center">
                                    <h5 class="iq-font-black iq-tw-6">JD Adams</h5>
                                    <span class="team-post iq-tw-5">Web Designer</span>
                                </div>
                                <div class="share">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-6 r4-mt-30">
                            <div class="iq-team grey-bg">
                                <div class="iq-team-img">
                                    <img src="/team/small/012.jpg" class="img-fluid center-block" alt="#">
                                </div>
                                <div class="iq-team-info text-center">
                                    <h5 class="iq-font-black iq-tw-6">Rinkal Oberoi</h5>
                                    <span class="team-post iq-tw-5">CEO at Robust Ent Pvt. Ltd.</span>
                                </div>
                                <div class="share">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                            <div class="iq-team grey-bg">
                                <div class="iq-team-img">
                                    <img src="/team/small/013.jpg" class="img-fluid center-block" alt="#">
                                </div>
                                <div class="iq-team-info text-center">
                                    <h5 class="iq-font-black iq-tw-6">Jason Deol</h5>
                                    <span class="team-post iq-tw-5">University Professor</span>
                                </div>
                                <div class="share">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                            <div class="iq-team grey-bg">
                                <div class="iq-team-img">
                                    <img src="/team/small/014.jpg" class="img-fluid center-block" alt="#">
                                </div>
                                <div class="iq-team-info text-center">
                                    <h5 class="iq-font-black iq-tw-6">kush Jackson</h5>
                                    <span class="team-post iq-tw-5">Graphic Designer</span>
                                </div>
                                <div class="share">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Faculty Team END -->


            <!-- Universities info -->
            <section id="compare-services" class="overview-block-ptb iq-over iq-over-blue-90 iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(/bg/05.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title white">
                                <h3 class="title iq-tw-7">Universities Info and their placements</h3>
                                <p class="iq-font-white">There are around more that 120+ universities in which one can get into and which provides much more exciting and interesting courses and degrees to opt for!!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="iq-services-box text-left iq-font-white">
                                <div class="iq-icon text-white">
                                    <i aria-hidden="true" class="ion-ios-paper-outline"></i>
                                </div>
                                <div class="services-content">
                                    <h5 class="iq-tw-6 iq-pb-10 iq-font-white">University 1</h5>
                                    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <div class="iq-progress-bar">
                                        <p class="iq-progress-bar-text">
                                            <span>90</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="90" style="transition: width 2s ease 0s; width: 90%;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 align-self-center text-center">
                            <h2 class="iq-font-white"></h2>
                        </div>
                        <div class="col-sm-5">
                            <div class="iq-services-box text-left iq-font-white">
                                <div class="iq-icon text-white">
                                    <i aria-hidden="true" class="ion-ios-paper-outline"></i>
                                </div>
                                <div class="services-content">
                                    <h5 class="iq-tw-6 iq-pb-10 iq-font-white">University 2</h5>
                                    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <div class="iq-progress-bar">
                                        <p class="iq-progress-bar-text">
                                            <span>70</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="70"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row iq-mt-50">
                        <div class="col-sm-5">
                            <div class="iq-services-box text-left iq-font-white">
                                <div class="iq-icon text-white">
                                    <i aria-hidden="true" class="ion-ios-paper-outline"></i>
                                </div>
                                <div class="services-content">
                                    <h5 class="iq-tw-6 iq-pb-10 iq-font-white">University 3</h5>
                                    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <div class="iq-progress-bar">
                                        <p class="iq-progress-bar-text">
                                            <span>50</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="50"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 align-self-center text-center">
                            <h2 class="iq-font-white"></h2>
                        </div>
                        <div class="col-sm-5">
                            <div class="iq-services-box text-left iq-font-white">
                                <div class="iq-icon text-white">
                                    <i aria-hidden="true" class="ion-ios-paper-outline"></i>
                                </div>
                                <div class="services-content">
                                    <h5 class="iq-tw-6 iq-pb-10 iq-font-white">University 4</h5>
                                    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <div class="iq-progress-bar">
                                        <p class="iq-progress-bar-text">
                                            <span>80</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="80"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row iq-mt-50">
                        <div class="col-sm-5">
                            <div class="iq-services-box text-left iq-font-white">
                                <div class="iq-icon text-white">
                                    <i aria-hidden="true" class="ion-ios-paper-outline"></i>
                                </div>
                                <div class="services-content">
                                    <h5 class="iq-tw-6 iq-pb-10 iq-font-white">University 5</h5>
                                    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <div class="iq-progress-bar">
                                        <p class="iq-progress-bar-text">
                                            <span>100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="100"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 align-self-center text-center">
                            <h2 class="iq-font-white"></h2>
                        </div>
                        <div class="col-sm-5">
                            <div class="iq-services-box text-left iq-font-white">
                                <div class="iq-icon text-white">
                                    <i aria-hidden="true" class="ion-ios-paper-outline"></i>
                                </div>
                                <div class="services-content">
                                    <h5 class="iq-tw-6 iq-pb-10 iq-font-white">University 6</h5>
                                    <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <div class="iq-progress-bar">
                                        <p class="iq-progress-bar-text">
                                            <span>40</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="40"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Universities info end -->


            <!-- company logos -->
            <div class="iq-our-clients white-bg iq-ptb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="1" data-margin="30" >
                                <div class="item"> <img class="img-fluid center-block" src="/clients/01.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/02.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/03.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/04.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/05.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/06.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/07.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/08.png" alt="#"></div>
                                <div class="item"> <img class="img-fluid center-block" src="/clients/09.png" alt="#"></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <!-- company logos ends -->


            <!-- Frequently Asked Questions -->
            <section class="overview-block-ptb white-bg iq-asked">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading-title">
                                <h3 class="title iq-tw-7">Frequently Asked Questions</h3>
                                <p>here you will get to know the answers of some frequent questions asked!!!!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <img class="img-fluid center-block" src="/drive/10.png" alt="drive10" style="z-index: 9; position: relative;">
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="iq-accordion iq-mt-50">
                                <div class="iq-accordion-block iq-accordion-active"> <a href="javascript:void(0)" class="accordion-title iq-tw-6 iq-font-grey">Question 1</a>
                                <div class="iq-accordion-details">
                                    <div class="row">
                                        <div class="col-sm-3"><img alt="#" class="img-fluid" src="/blog/01.jpg"></div>
                                        <div class="col-sm-9"> Answer 1.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="iq-accordion-block"> <a href="javascript:void(0)" class="accordion-title iq-tw-6 iq-font-grey">Question 2</a>
                            <div class="iq-accordion-details">Answer 2</div>
                        </div>
                        <div class="iq-accordion-block"> <a href="javascript:void(0)" class="accordion-title iq-tw-6 iq-font-grey">Question 3</a>
                        <div class="iq-accordion-details">
                            <div class="row">
                                <div class="col-sm-9"> Answer 3</div>
                                <div class="col-sm-3"><img alt="#" class="img-fluid" src="/blog/01.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-accordion-block"> <a href="javascript:void(0)" class="accordion-title iq-tw-6 iq-font-grey">Question 4</a>
                    <div class="iq-accordion-details">Answer 4</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="iq-objects-asked">
    <span class="iq-objects-01">
        <img src="/drive/02.png" alt="drive02">
    </span>
    <span class="iq-objects-02" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
        <img src="/drive/04.png" alt="drive02">
    </span>
    <span class="iq-objects-03 iq-fadebounce">
        <span class="iq-round"></span>
    </span>
</div>
</section>
<!-- Frequently Asked Questions END -->
<!-- Main Content END -->








<!-- Footer -->
<footer>
<!-- Footer Info -->
<section id="contact-us" class="footer-info white-bg">
<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6 col-lg-4">
            <div class="iq-get-in">
                <h4 class="iq-tw-7 iq-mb-20">Get in Touch</h4>
                <form id="contact" method="post">
                    <div class="contact-form">
                        <div class="section-field">
                            <input class="require" id="contact_name" type="text" placeholder="Name*" name="name">
                        </div>
                        <div class="section-field">
                            <input class="require" id="contact_email" type="email" placeholder="Email*" name="email">
                        </div>
                        <div class="section-field">
                            <input class="require" id="contact_phone" type="text" placeholder="Phone*" name="phone">
                        </div>
                        <div class="section-field textarea">
                            <textarea id="contact_message" class="input-message require" placeholder="Comment*" rows="5" name="message"></textarea>
                        </div>
                        <div class="section-field iq-mt-20">
                            <div class="g-recaptcha" data-sitekey="6LdA3mYUAAAAANpUuZTLbKM_s23tTHlcdJ7dYfgI"></div>
                        </div>
                        <button id="submit" name="submit" type="submit" value="Send" class="button iq-mt-15">Send Message</button>
                        <div class="alert alert-success alert-dismissible fade show" role="alert" id="success">
                            <strong>Thank You, Your message has been received.</strong>.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15054.639964013133!2d72.8287336!3d19.3838696!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7aec0a4b41bef%3A0xbd1a4ca919d6a613!2sVidyavardhinis%20College%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1682603453245!5m2!1sen!2sin" style="border:0;" allowfullscreen></iframe>
</section>


<footer id="contact" class="iq-footerr iq-ptb-40 ">
<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
        <div class="logo">
          <img class="img-fluid logo_img"  src="/color-customizer/color-1.png" alt="#">
          <div class="iq-font-black  iq-mt-15"><b >German Club.</b></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
        <div class="contact-bg">
          <h5 class="iq-tw-6 iq-font-black  iq-mb-10">Address</h5>
          <ul class="iq-contact">
            <li>
              <i class="ion-ios-location-outline"></i>
              <p>VCET Campus, K.T. Marg Vasai west</p>
            </li>
            <li>
              <i class="ion-ios-telephone-outline"></i>
              <p>+91 0123456789</p>
            </li>
            <li>
              <i class="ion-ios-email-outline"></i>
              <p>mail@germanclub.com</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
        <h5 class="iq-tw-6 iq-font-black  iq-mb-10">Menu</h5>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <ul class="menu">
              <li><a href="javascript:void(0)">Home</a></li>
              <li><a href="javascript:void(0)">About Us</a></li>
              <li><a href="javascript:void(0)">Our Team</a></li>
              <li><a href="javascript:void(0)">Portfolio</a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <ul class="menu">
              <li><a href="javascript:void(0)">Faqs</a></li>
              <li><a href="*****">Blog</a></li>
              
            </ul>
          </div>
        </div>
      </div>
     
    </div>
    <hr>
    <div class="row iq-mt-20">
      
    </div>
  </div>
<!-- Footer Info END -->
</footer>
<!-- Footer END -->
<!-- back-to-top -->
<div id="back-to-top">
<a class="top" id="top" href="#top"> <i class="ion-ios-top-outline"></i> </a>
</div>
<!-- back-to-top End -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Main js -->
<script src="/js/main.js"></script>
<!-- Google captcha code Js -->

<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- Custom -->
<script src="/js/custom.js"></script>
<!-- Style Customizer -->
<script src="/js/style-customizer.js"></script>
</body>
</html>