<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <title>Home Page</title>
</head>
<body>
    <!-- NAVBAR-->  
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand">
            <!-- Logo Image -->
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="text-uppercase font-weight-bold">GO VEGAN</span>
            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
     <header>
            <menu>
                <img id="topbar-logo" 
                    src="https://mobirise.com/extensions/organicamp/assets/images/logo1.jpg" 
                    alt="Logo">
                <div>
                    <div class="dropdown-wrapper">
                        <a class="menu-item" href="">
                            Navigate through our Page
                            <img class="dropdown-arrow" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjEzLjMzMyAyMTMuMzMzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMTMuMzMzIDIxMy4zMzM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cG9seWdvbiBwb2ludHM9IjAsNTMuMzMzIDEwNi42NjcsMTYwIDIxMy4zMzMsNTMuMzMzIAkJIi8+DQoJPC9nPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=" />
                        </a>
                        <div id="dropdown">
                            <a href="#steps-section">Steps to go Vegan</a>
                            <a href="#store-section">Join Our Group</a>
                            <a href="#shop-section">About Us</a>
                            <a href="#follow-us-section">Subscribe</a>
                        </div>
                    </div>
                    <a class="menu-item" target="_blank" href="https://youtu.be/OJxMsypwnqg">Watch Video</a>
                    <div class="dropdown-wrapper">
                        <a class="menu-item" href="">
                            Blogs
                            <img class="dropdown-arrow" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjEzLjMzMyAyMTMuMzMzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMTMuMzMzIDIxMy4zMzM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cG9seWdvbiBwb2ludHM9IjAsNTMuMzMzIDEwNi42NjcsMTYwIDIxMy4zMzMsNTMuMzMzIAkJIi8+DQoJPC9nPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=" />
                            
                        </a>
                        <div id="dropdown">
                            <a href="https://deliciouslyella.com/about/" target="_blank">Deliciously Ella</a>
                            <a href="https://gumroad.com/l/veganonabudget" target="_blank">Emily eats</a>
                            <a href="https://rb.gy/auvxwg" target="_blank">Hot for Food</a>
                            <a href="https://chocolatecoveredkatie.com/" target="_blank">Chocolate-Covered Katie</a>
                        </div>
                    </div>
                    <a href="https://vegandukan.com/" target="_blank">
                        <input id="buynow-btn" class="submit-btn" type="button" name="buynow" value="Buy Now" >
                    </a>
                </div>
            </menu>
        </header>
        <main>
            <section id="landing-section">
                <h1>Go Vegan.</br>Let there be peas.</h1>
                <p>
                    With vegan nutrition, all the vital functions of the body are connected. 
                    It is the source of the development of tissues and cells, their 
                    constant renewal, the saturation of man with energy.
                </p>
            </section>

            <section id="steps-section">
                <div id="step-1" class="step-item">
                    <i class="fa fa-cut" id="cut"></i>
                    <h3>Step 01. </h3>
                    <b>Know why you are becoming vegan</b> <br>
                    <p>Veganism is based on respect for animals, on the idea that we should, according
                        to the UK Vegan Society, "exclude, as far as is possible and practical, all 
                        forms of exploitation of, and cruelty to, animals for food, clothing or any 
                        other purpose".
                    </p>
                </div>
                <div id="step-2" class="step-item">
                    <i class="fa fa-paint-brush" id="brush"></i>
                    <h3>Step 02.</h3>
                    <b>Understand that it is healthy to live vegan</b> <br>
                    <p>
                        The next step is to understand that humans can be healthy and thrive without 
                        eating or using animal products. Learn a little about vegan nutrition (especially
                        vitamin B12) and how to ensure you will be healthy on a vegan diet. Aim to be a 
                        healthy vegan, not just for yourself, but to inspire others to go vegan too.
                    </p>
                </div>
                <div id="step-3" class="step-item">
                    <i class="fa fa-shopping-bag" id="bag"></i>
                    <h3>Step 03.</h3>
                    <b>Learn how to eat and live without using animals</b> <br>
                    <p>
                        Then learn how to eat and live without using animals. Changing your diet will
                        have the biggest impact, so start there. If you understand the ethics behind 
                        this change, you should not have too much trouble. Learn about vegan meal 
                        planning, how to shop and what to buy and get some  easy vegan recipes.
                    </p>
                </div>
                <div id="step-4" class="step-item">
                    <i class="fa fa-smile-o" id="smile"></i>
                    <h3>Step 04.</h3>
                    <b>Get support from other vegans and promote veganism</b> <br>
                    <p>
                        Finally, get in touch with other vegans, both for your own support
                         and to move towards becoming active in vegan advocacy. There are many 
                         online and real-life groups on Facebook, Meetup and elsewhere. You will 
                         find there are many people happy to help you with any questions you may have. 
                    </p>
                </div>
            </section>

            <section id="store-section">
                <p id="fresh-food-heading">Fresh Food</p>
                <h3>Advantages of Being a Vegan</h3>
                <p id="store-description">
                    The love for all living creatures is the most noble attribute of man.
                </p>
                <div id="store-items-wrapper">
                    <div class="store-item">
                        <div class="icon-wrapper">
                            <img  src="/money.png" alt="Money Image">
                        </div>
                        <h3>Light on Pocket</h3>
                        <p>
                            The cost of going vegan is <b> NO </b> more expensive than any other dietary change and greatly improve your health..
                        </p>
                    </div>
                    <div class="store-item">
                        <div class="icon-wrapper">
                            <img src="/heart-with-pulse-100.png" alt="Save animals Image">
                        </div>
                        <h3>Save Lives</h3>
                        <p>
                            Going vegan is one of the best things you can do to help stop animal cruelty. By refusing to pay for animal products, you reduce the demand of Animal products.
                        </p>
                    </div>
                    <div class="store-item">
                        <div class="icon-wrapper">
                            <img src="/exercise.png" alt="Fitness Image">
                        </div>
                        <h3>Health Benefits</h3>
                        <p>
                            Research has shown that a vegan diet can help <b>:</b> </br> <b>1. </b>Promote weight loss. </br> <b>2. </b>Reduce your risk of heart disease by lowering cholesterol levels. </br> <b>3. </b>Lower your chances of getting certain types of cancer </br>& Many Others.
                        </p>
                    </div>
                    <div class="store-item">
                        <div class="icon-wrapper">
                            <img src="/earth.png" alt="Earth Image">
                        </div>
                        <h3>Environment Benefits</h3>
                        <p>
                            The production of meat and other animal products places a heavy burden on the environment in a number of ways.</br> <b>1. </b>Cut Your Greenhouse Gas Emissions. </br> <b>2. </b>Preserve Habitats and Species. </br> <b>3. </b>Conserve Water.
                        </p>
                    </div>
                </div>
            </section>

            <section id="shop-section">
                <p>Fresh Food</p>
                <h3>Founders and testimonials</h3>
                <p id="shop-description">
                    According to experts, any habit can be formed in 21 days. 
                    The same statement applies to healthy eating.
                </p>
                <div>
                    <div class="testimonial-card">
                        <img src="/kritika.jpeg" 
                            alt="Veronica King">
                        <p class="message">
                            I am in favor of animal rights as well as human rights. 
                            That is the way of a whole human being.
                        </p>
                        <p class="author">KRITIKA KHANDELWAL</p>
                        <p class="author-occupation">COO & Co-Founder</p>
                    </div>
                    <div class="testimonial-card">
                        <img src="/Kabir.jpeg" 
                            alt="Kabir Image">
                        <p class="message">
                            It is my view that the vegetarian manner of living, by its purely 
                            physical effect on the human temperament, would most beneficially 
                            influence the lot of mankind.
                        </p>
                        <p class="author">ATUL MISHRA</p>
                        <p class="author-occupation">Founder</p>
                    </div>
                    <div class="testimonial-card">
                        <img src="/Shreyash.jpeg" 
                            alt="Shreyash Image">
                        <p class="message">
                            Becoming vegan is the most important and direct change we 
                            can immediately make to save the planet and its species.
                        </p>
                        <p class="author">SHREYASH SETH</p>
                        <p class="author-occupation">CEO & Co-founder</p>
                    </div>
                </div>
            </section>

            <section id="follow-us-section">
                <div id="left-section">
                    <img src="https://mobirise.com/extensions/organicamp/assets/images/19.jpg" alt="Cherries Image">
                </div>
                <div id="right-section">
                    <div id="text-wrapper">
                        <h3>Contact Us</h3>
                        <p>
                            A wide range of products; many unusual and tasty products; 
                            courteous team.
                        </p>
                        <h1 class="text-muted blockquote" id="thanks">
                            Thank you for joining our community and we'd love to share the journey and 
                            growth of vegans across the world. <br>
                            <div id="contact" class="text-primary">
                                Contact : 01125532553  <br>
                                E-Mail : GoVegan@life.in
                            </div>
                        </h1>
                    </div>
                </div>
            </section>

            <section id="stats-section">
                <div id="stats-wrapper">
                    <div class="stats-item">
                        <h3>8%</h3>
                        <p>of the population of the entire world is vegan.</p>
                    </div>
                    <div class="stats-item">
                        <h3>70%</h3>
                        <p>of the world is either trying to reduce their meat consumption or
                           cut meat out altogether.</p>
                    </div>
                    <div class="stats-item">
                        <h3>70 billion</h3>
                        <p>farmed animals are killed every year to feed humans.</p>
                    </div>
                    <div class="stats-item">
                        <h3>3000%</h3>
                        <p>Increase of Veganism in the last 15 years.</p>
                    </div>
                </div>
            </section>

            <section id="video-section">
                <h3>Vimeo Video</h3>
                <div id="line-seperator"></div>
                <iframe src="https://player.vimeo.com/video/175716119?color=2583a8&title=0&byline=0&portrait=0" width="1200" height="400" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </section>

            {{!-- <section id="address-and-contact-section">
                <div id="address-wrapper">
                    <div>
                        <p class="green-text">Contact Us</p>
                        <h3 class="address-heading">Address Information</h3>
                        <p class="section-description">
                            Overeating is one of the most common causes of overweight and digestive problems.
                        </p>
                        <h4 class="location-heading">London Store</h4>
                        <p class="address-lines">
                            Roeterseiland Campus Building E <br>
                            6th floor London <br>
                            Monday to Friday : 9am to 8pm <br>
                            examplemail.mail.com <br>
                        </p>
                        <h4 class="location-heading">Berlin Store</h4>
                        <p  class="address-lines">
                            Roeterseiland Campus Building E <br>
                            6th floor London <br>
                            Monday to Friday : 9am to 8pm <br>
                            examplemail.mail.com <br>
                        </p>  
                    </div>
                    <div>
                        <p class="green-text">Meet Our Team</p>
                        <h3 class="address-heading">Get In Touch</h3>
                        <p class="section-description">
                            The task of proper nutrition - to remove from the diet harmful food and enrich it useful.
                        </p>
                        <form action="" id="form" method="post" autocomplete="on">
                            <input id="name"  type="text" class="input-box" placeholder="Name" name="Name">
                            <input id="phone"  type="number" class="input-box" placeholder" class="input-box" placeholder="Phone" name="Phone"> 
                            <input id="pincode"  type="number" class="input-box" placeholder="Pin Code" name="PinCode">
                            <input id="email"  type="email" class="input-box" placeholder="E-mail" name="Email">
                            <textarea id="message"  name="Message" class="input-box">Message</textarea>
                            <input id="btn-submit" clas="submit-btn" type="submit" name="submit" value="Submit Now">
                        </form>
                    </div>
                </div>
            </section> --}}
        </main>
        <footer>
            © Copyright 2021 GoVegan - All Rights Reserved
        </footer>

</body>
</html>