html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

#errMessage {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}

nav {
    height: 70px;
}

.box {
    width: 30%;
    padding: 30px ;
    margin-left: auto;
    margin-right: auto;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 1rem;
    border-radius: 0.3rem;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 53%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    width: 65%;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

.forgot {
    text-decoration: underline
}

